:root {
    --main-white: #ffffff;
    --secondary-gray: #c0c0c0;
    --blue-button: #167bf7;
    --background-color: #00030c;
    --main-font: 'Inter';
}

body {
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__box {
    margin: 0 6em;
}

.container__title {
    font-size: 40px;
    font-weight: 700;
}

.container__image {
    margin: 2em 0 3em 0;
    width: 60%
}

.container__button {
    display: block;
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    text-decoration: none;
    margin-bottom: 1em;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--main-white);
}

.container__notice {
    font-size: 12px;
    color: var(--secondary-gray);
}

.secondary__image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-white);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-gray);
    font-size: 18px;
}

.container__description .container__button {
    display: inline-block;
}

.container__description {
    padding: 2em;
}