:root {
    --main-white: #ffffff;
    --secondary-gray: #c0c0c0;
    --blue-button: #0760cd;
    --blue-button-efect: #4090f3;
    --background-color: #00030c;
    --main-font: 'Inter';
}

body {
    background-color: var(--background-color);
    color: var(--main-white);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__box {
    margin: 0 6em;
}

.container__title {
    font-size: 35px;
    font-weight: 700;
}

.container__image {
    margin: 2em 0 3em 0;
    width: 60%
}

.container__button {
    display: block;
    background-color: var(--blue-button);
    border-radius: 5px;
    padding: 1em;
    color: var(--main-white);
    text-decoration: none;
    margin-bottom: 1em;
}

.container__button:hover {
    background-color: var(--blue-button-efect);
    border-color: var(--blue-button-efect);
    color: var(--background-color);
    transition: all 0.5s;
}

.secondary_button {
    background-color: transparent;
    border: 2px solid var(--main-white);
}

.container__notice {
    font-size: 12px;
    color: var(--secondary-gray);
}

.secondary__image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-size: 48px;
    font-weight: 700;
    color: var(--main-white);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--secondary-gray);
    font-size: 18px;
}

.container__description .container__button {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    padding: 2em;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
    color: var(--main-white);
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.item__list {
    font-size: 32px;
    color: var(--main-white);
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2em;
    margin-top: 2em;
}

.item__list__footer a {
    text-decoration: none;
    color: var(--main-white);
}

.item__list__footer a:hover {
    color: var(--blue-button);
}

.item__list__footer a:active {
    color: #ed2d50;
}

.footer__text {
    font-size: 14px;
    color: var(--secondary-gray);
    margin: 2em 0;
}